#cardItem{
    margin-top: 5%;
    box-shadow: 5px 5px 20px #EB4413;
    background-color: black;
}

#btnMasInfoCard{
    background-color: #EB4413;
    color: gold;
}

.descripcionCard{
    color: #EB4413;
}