#batallaContainer{
    min-height: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #110909;
}

.spinBatallas{
    background-color: #EB4413;
    margin-top: 10%;
    margin-left: 50%;
}

#contenedor-batallas{
    background-color: black;
}