#batallaContainer{
    min-height: 50rem;
    background-color: #110909;
}

.RowContainer{
    padding: 2%;
    justify-content: space-around;
}

.spinBatallas{
    background-color: #eeeeee;
    margin-top: 10%;
    margin-left: 50%;
}