#batallaContainer{
    min-height: 50rem;
    background-color: #212121;
}

.RowContainer{
    padding: 2%;
    justify-content: space-around;
}

.spinBatallas{
    background-color: #eeeeee;
    margin-top: 10%;
    margin-left: 50%;
}

#sinEventosTitulo{
    color: #eeeeee;
    text-align: center;
}