#detalleContenedor{
    min-height: 87vh;
    background-color: #110909;
    display: flex;
    flex-direction: row;
}

#cardInfoBatalla{
    background-color: #eeeeee;
    padding: 2%;
    border-radius: 15px;
}

#imgDetalle{
    box-shadow: 0px 0px 30px #eeeeee;
    border-radius: 15px;
    width: 40vw;
    height: 80%;
}

#filaDetalle{
    margin: 2%;
    width: 100%;
}

#cardContentInfoBatalla{
    background-color: #bdbdbd;
    border-radius: 15px;
}

#tituloEventoInfo{
    text-align: center;
}

#mapaInfo{
    border-radius: 10px;
    width: 100%;
}

.rowBtnInscripcionCompartir{
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}