.navContainer{
    background-color: #525249;
    text-align: center;
    padding-top: 1rem;
    color: #F6F60F;
}

.colSesion{
    text-align: end;
}

.colLinks{
    padding-top: 1rem;
}

#tituloApp{
    text-align: start;
}