.navContainer{
    background-color: #eeeeee;
    text-align: center;
    padding-top: 1rem;
    color: #212121;
}

.colSesion{
    text-align: end;
}

.colLinks{
    padding-top: 1rem;
}

#tituloApp{
    text-align: start;
}

@media (max-width: 500px){
    #tituloApp{
        text-align: center;
    }

    .colSesion{
        text-align: center;
        margin-top: 3%;
    }
}